# Mac .DS_Store
.DS_Store

# Terraform Binaries
.terraform
.terraform.lock.hcl
.terraform.tfstate.lock.info

# Terraform State
*.tfstate
*.tfstate.backup

# Terraform local .tfvars
*.tfvars

# Packer variables
*.pkrvars.hcl
*.auto.pkrvars.hcl
*.pkrvars.json
*.auto.pkrvars.json

# Service Account
service-account-key.json

# Build files
image/resources.tgz
