[Unit]
Description=Cull old files from knfsd cache
Requires=cachefilesd.service
After=cachefilesd.service

[Service]
Type=simple
Restart=always
RestartSec=10
ExecStart=/usr/local/bin/knfsd-cull

[Install]
WantedBy=multi-user.target
