[Unit]
Description=Knfsd Agent
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/usr/local/bin/knfsd-agent

[Install]
WantedBy=multi-user.target
